<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div class="weather-card">
    <h2>Weather in <%= weather.name %></h2>

    <div class="weather-info">
        <p><strong>Temperature:</strong> <%= weather.main.temp %> °C</p>
        <p><strong>Feels Like:</strong> <%= weather.main.feels_like %> °C</p>
        <p><strong>Humidity:</strong> <%= weather.main.humidity %>%</p>
        <p><strong>Wind Speed:</strong> <%= weather.wind.speed %> m/s</p>
        <p><strong>Conditions:</strong> <%= weather.weather[0].description %></p>
    </div>
</div>
  </body>
</html>
